<ion-header>
  <ion-toolbar>
    <ion-title>user-address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="check-out-back">
    <form action="">
      <div class="clear"></div>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">First name <span>*</span></ion-label>
              <ion-input type="text" [(ngModel)]="userAddress.billing.first_name" name="first_name" ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Last name <span>*</span></ion-label>
              <ion-input type="text" [(ngModel)]="userAddress.billing.last_name" name="last_name" ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Email Address <span>*</span></ion-label>
              <ion-input type="email" [(ngModel)]="userAddress.billing.email" name="email" ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Country / Region <span>*</span></ion-label>
              <ion-input type="text" [(ngModel)]="userAddress.billing.country" name="country"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-label>Street address <span>*</span></ion-label>
            <ion-item>
              <ion-label position="floating">House number and street name</ion-label>
              <ion-input type="text" [(ngModel)]="userAddress.billing.address_1" name="address_1"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Apartment, suite, unit, etc. (optional)</ion-label>
              <ion-input type="text" [(ngModel)]="userAddress.billing.address_2" name="address_2"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">State <span>*</span></ion-label>
              <ion-input type="text" [(ngModel)]="userAddress.billing.state" name="state"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">city <span>*</span></ion-label>
              <ion-input type="text" [(ngModel)]="userAddress.billing.city" name="city"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Postcode <span>*</span></ion-label>
              <ion-input type="text" [(ngModel)]="userAddress.billing.postcode" name="postcode"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Phone <span>*</span></ion-label>
              <ion-input type="text" [(ngModel)]="userAddress.billing.phone" name="phone"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
    <div class="order-details">
      <ion-button button color="button_transparent" (click)="updateAddress()" >
        <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
        <ion-label>Update Address</ion-label>
      </ion-button>
    </div>
  </div>
</ion-content>
