@import "../../../assets/css/mixin.component.scss";
@import "../../../theme/color_variables.scss";
.search-bar{
    width: 100%; height: auto; float: left; background-color: $custom_primary; padding: 50px 30px 30px 30px; text-align: center; color: #fff;
    
}

.search-bar{
    .sc-ion-searchbar-md-h{
        padding: 20px 0 0 0; text-align: left;
    }
}
