<div class="papers-table-back">
  <!--<div class="inner-heading-style blue">
    <div class="heading">
      <div class="icon-back"><img src="assets/images/pre-year-i.png" alt=""></div>
      Previous Year Papers
    </div>
  </div>-->
  <div class="heading">Previous Year Papers</div>
  <table>
    <thead>
      <tr>
        <td>Course Name</td>
        <td>Free</td>
        <td>Paid</td>
      </tr>
    </thead>
    
    <tbody>
      
      <tr class="head"> 
        <td>Online</td>
        <td></td>
        <td></td>
      </tr>
      <tr *ngFor="let item of tabledata">
        <td>{{item.testname}}</td>
        <td><mark>{{item.testprice}}</mark></td>
        <td>
          <button [routerLink]="['/', 'practice-question', item.link]" >{{item.buttontext}}</button>
        </td>
      </tr>
    </tbody>
    
  </table>
</div>

